$ui-color-light: #fff;      // white
$ui-color-medium-light: rgba(159, 167, 188, 0.35);  // light-grey
$ui-color-medium: #a0a8bd;  // grey
$ui-color-dark: #3a3d42;    // dark grey

$accent-blue-light: #6cb6fb;
$accent-blue-dark: #5aa2e0;

$accent-green-light: #cef9ce;
$accent-green-dark: #8be68b;

$accent-orange-light: #ffddc0;
$accent-orange-dark: #ffc89a;

$accent-red-light: #ff6666;
$accent-red-dark: #ff2015;