@import "./mixins/*";

.landing-page {
  h1 {
    font-size: 25vmin;
    font-weight: bold;
    margin: 0;
    padding: 5%;
  }
  .intro {
    height: 100vh;
    background-color: $ui-color-dark;
    color: $ui-color-light;
  }
  .enter {
    height: 100vh;
    background-color: $ui-color-light;
    color: $ui-color-dark;
  }
}
