.landing-page {
  h1 {
    font-size: 27vmin;
    font-weight: bold;
    margin: 0;
    padding: 5%;
  }
  .intro {
    height: 100vh;
    background-color: black;
    color: white;
  }
  .enter {
    height: 100vh;
    background-color: white;
    color: black;
  }
}
