@import "./mixins/*";

.enter-modal {
  position: fixed;
  top: 25%;
  left: 50%;
  width: 400px;
  padding: 20px;
  z-index: 100;
  margin-left: -200px;
  transition-duration: 300ms;
  background-color: #fff;
  border: 1px solid $ui-color-medium;
  .session-input {
    display: block;
    width:   100%;
    height:  auto;
    padding: 12px 6px 12px 0px;
    border:  none;
    outline: none;
    border-bottom: 1px solid $ui-color-medium;
    transition-duration: 300ms;
    &:focus {
      border-color: $accent-blue-light;
    }
  }
}

.show-enter-modal {
  margin-top: 0%;
  
  transition-duration: 300ms;
}

.hide-enter-modal {
  margin-top: -10%;
  visibility: hidden;
  opacity: 0;
  transition-duration: 300ms;
}