@import './mixins/*';

.exercise-pane {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .exercises-search-group {
    border: 1px solid $ui-color-medium;
    display: table;
    .exercise-search {
      height:  auto;
      width: 100%;
      padding: 12px 6px 12px 6px;
      border:  none;
      border-right: 1px solid $ui-color-medium;
      outline: none;
      &:focus {
        border-color: $accent-blue-light;
      }
    }
    button {
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $accent-blue-light;
      }
    }
  }
}

.exercises-index{
  .exercises-index-item {
    padding: 5px;
    border: 1px solid transparent;
    &:hover {
      border-color: $accent-blue-dark;
      cursor: pointer;
      transition-duration: 300ms;
    }
    &:focus, &:active {
      color: white;
      background-color: $accent-blue-light;
    }
  }
}